<li
  class="nav-item dropdown dropdown-user no-caret"
  style="right: -20px"
  dropdown
  placement="bottom-right"
  display="dynamic"
>
  <a
    class="nav-link dropdown-toggle"
    id="userDropdown"
    dropdownToggle
    data-cy="userMenu"
    role="button"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <i class="far fa-user"></i>
  </a>
  <div
    class="dropdown-menu dropdown-menu-right"
    *dropdownMenu
    aria-labelledby="dropdownUser"
  >
    <h6 class="dropdown-header">
      <div class="dropdown-user-details">
        <div class="dropdown-user-details-name">Teste Sobrenome</div>
        <div class="dropdown-user-details-email">teste@teste.com.br</div>
      </div>
    </h6>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item"> <i class="fas fa-sliders-h"></i>Preferências </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item"> <i class="fas fa-sign-out-alt"></i>Sair </a>
  </div>
</li>
