<div class="row page-titles" *ngIf="title">
  <div class="col-md-5 align-self-center">
    <h4 class="text-themecolor no-margin-bottom">{{ title }}</h4>
  </div>

  <div class="col-md-7 align-self-center">
    <ol class="breadcrumb">
      <li
        class="breadcrumb-item"
        *ngFor="let breadcrumb of breadcrumbs"
        [ngClass]="{ active: breadcrumb.active }"
      >
        <a *ngIf="breadcrumb.link" [routerLink]="breadcrumb.link">{{
          breadcrumb.text
        }}</a>
        <span *ngIf="!breadcrumb.link">{{ breadcrumb.text }}</span>
      </li>
    </ol>
  </div>
</div>
