@import './assets/css/style.blue.premium';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './assets/css/fontastic';

.margin-zero {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
}

.btn-salvar-cancelar {
  width: 125px;
}
