<div class="float-right">
  <button type="button" class="btn btn-primary" [routerLink]="['novo']">
    <i class="far fa-file-alt pr-2"></i> Novo
  </button>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{ post.id }}</td>
      <td>{{ post.title }}</td>
      <td>
        <button
          class="btn btn-primary btn-sm mr-1"
          type="submit"
          (click)="detalhes(post)"
        >
          <i class="fa fa-eye"></i>
        </button>
        <button
          class="btn btn-warning btn-sm mr-1"
          type="submit"
          (click)="editar(post)"
        >
          <i class="fa fa-edit"></i>
        </button>
        <button
          class="btn btn-danger btn-sm mr-1"
          type="submit"
          (click)="excluir(post)"
        >
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
